.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    margin: 0;
}

/* Global */
.page-body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-height: 21px;
    font-weight: 400;
    min-height: 100vh;
}

/* Container */
.container {
    position: relative;
    min-height: inherit;
    width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

/* Main Header */
.main-header {
    position: relative;
    display: flex;
    justify-content: space-between;

    padding-top: 50px;
    padding-bottom: 20px;
    /*border-bottom: 3px solid black;*/
    margin-bottom: 28px;
}

.main-header::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 1240px;
    bottom: 0;
    left: -20px;
    background-color: #404040;
}


.main-header h1 {
    margin: 0;
    font-size: 36px;
}

.main-header-controls {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    min-width: 400px;
}

.header-button {
    text-transform: uppercase;
    border: 2px solid black;
    background-color: inherit;
    margin-right: 20px;
    padding: 2px 10px;
    box-shadow: 5px 5px 2px 0px #404040;
}

.header-button:hover {
    background-color: #7F7F7F;
    color: #ffffff;
    cursor: pointer;
    /*box-shadow: 5px 5px 4px 2px #404040;*/

}

/* Main Content */
.products-list {
    list-style: none;
    margin: 0;
    margin-right: -60px;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.products-list li {
    position: relative;
    box-sizing: border-box;
    width: 260px;
    padding: 45px 15px 60px 15px;
    margin-right: 55px;
    margin-bottom: 60px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.products-list-item input[type="checkbox"] {
    position: absolute;
    box-sizing: border-box;
    top: 24px;
    left: 20px;
    height: 18px;
    width: 18px;
    opacity: 1;
    margin: auto;
    cursor: pointer;
    outline: none;
    appearance: none;
}

.products-list-item input[type="checkbox"]::after {
    content: url("../img/checkbox_unchecked.svg");
    position: absolute;
    top: 0;
    left: 0;
    /*border: 2px solid gray;*/
    margin: auto;
    height: inherit;
    width: inherit;
    pointer-events: none;
    box-sizing: inherit;
    /*background-image: url("../img/checkbox_checked.svg");*/
}

.products-list-item input[type="checkbox"]:hover::after {
    content: url("../img/checkbox_hover.svg");
}

.products-list-item input[type="checkbox"]:checked::after {
    content: url("../img/checkbox_checked.svg");
}

.products-list h2,
.products-list p {
    font-size: 18px;
    margin: 0;
}

.products-list .list-item-sku {
    order: -1;
    text-transform: uppercase;
}

/* Main Footer */
.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 60px;

    /*border-top: 3px solid black;*/

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.main-footer::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 1240px;
    top: 0;
    background-color: #404040;
}

.main-footer p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;

}